In [12]:
# 2. Write a python comment saying 'Day 2: 30 Days of python programming'

# 'Day 2: 30 Days of python programming'

In [9]:
# 3. Declare a first name variable and assign a value to it

first_name = "Parag"
print(first_name)

Parag

In [10]:
# 4. Declare a last name variable and assign a value to it

last_name = "Dorle"
print(last_name)

Dorle

In [11]:
# 5. Declare a full name variable and assign a value to it

full_name = "Parag Dorle"
print(full_name)

Parag Dorle

In [14]:
# 6. Declare a country variable and assign a value to it

country = "India"
print(country)

India

In [16]:
# 7. Declare a city variable and assign a value to it

city_name = "Nagpur"
print(city_name)

Nagpur

In [18]:
# 8. Declare an age variable and assign a value to it

age = 10
print(age)

10

In [20]:
# 9. Declare a year variable and assign a value to it

year = 2024
print(year)

2024

In [26]:
# 10. Declare a variable is_married and assign a value to it

is_married = False
print(is_married)

False

In [29]:
# 11. Declare a variable is_true and assign a value to it

is_true = True
is_true = False
print(is_true)

False

In [31]:
# 12. Declare a variable is_light_on and assign a value to it

is_light_on = True
print(is_light_on)

True

In [33]:
# 13. Declare multiple variable on one line

name, age, city = "Parag", 25, "Nagpur"
print(name, age, city)

Parag 25 Nagpur

In [34]:
# DATA TYPE

In [43]:
# 1. Check the data type of all your variables using type() built-in function

print(type(10))       #int

print(type(3.14))    #float

print(type(5+3j))    #complex

print(type("Parag"))        #string

print(type([1,2,3,4,5]))        #list

print(type({"name":"Parag", "age": 25, "city": "Nagpur"}))        #

print(type({3.4, 8.9, 4.8}))       #

print(type((3.14, 4.5, 8.9)))      #tuple

print(type(True/False))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

ZeroDivisionError: division by zero

In [47]:
# 1. Using the _len()_ built-in function, find the length of your first name

length = len(first_name)
print(length)

5

In [51]:
# 1. Compare the length of your first name and your last name

c_length = first_name == last_name
print(c_length)

True

In [53]:
# 1. Declare 5 as num_one and 4 as num_two

num_one = 5
num_two = 4
add = num_one+num_two
print(add)

9

In [55]:
# 2. Subtract num_two from num_one and assign the value to a variable diff

sub = num_one-num_two
print(sub)

1

In [57]:
# 3. Multiply num_two and num_one and assign the value to a variable product

multy = num_one*num_two
print(multy)

20

In [60]:
# 4. Divide num_one by num_two and assign the value to a variable division

div = num_one/num_two
print(div)

1.25

In [61]:
# 5. Use modulus division to find num_two divided by num_one and assign the value to a variable remainder

mod = num_one%num_two
print(mod)

1

In [62]:
# 6. Calculate num_one to the power of num_two and assign the value to a variable exp

pow = num_one**num_two
print(pow)

625

In [ ]:
# 7. Find floor division of num_one by num_two and assign the value to a variable floor_division

div = num_one/num_two
print(div)

In [70]:
# 1. The radius of a circle is 30 meters.
# 1. Calculate the area of a circle and assign the value to a variable name of _area_of_circle
radius = 30
pi = 3.14
area = pi*radius*radius
print(area)

2826.0

In [72]:
# 2. Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle

radius = 30
pi = 3.14
circumference_of_a_circle = 2*pi*radius
print(circumference_of_a_circle)

188.4

In [76]:
# 3. Take radius as user input and calculate the area.

radius = int(input("Enter the value : "))
pi = 3.14
area = pi*radius*radius
print(area)

Enter the value :  30

2826.0

In [78]:
# 1. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

first_name = str(input("Enter your First Name : "))
last_name = str(input("Enter your Last Name : "))
country = str(input("Enter your country name : "))
age = int(input("Enter your age : "))
print(first_name, last_name, country, age)

Enter your First Name :  Parag
Enter your Last Name :  Dorle
Enter your country name :  India
Enter your age :  25

Parag Dorle India 25