In [5]:
print("python")

python

In [ ]:
# Checking data types

print(type(10))                  # Int

print(type(3.14))                # Float

print(type(1 + 3j))              # Complex

print(type('Asabeneh'))          # String

print(type([1, 2, 3]))           # List

print(type({'name':'Asabeneh', 1 : "march" })) # Dictionary

print(type({9.8, 3.14, 2.7}))    # Set

print(type((9.8, 3.14, 2.7)))    # Tuple

print(type(True/False))          # Bool

In [7]:
1 + 4

5

In [ ]:
#math operator

print(2 + 3)   # addition(+)
print(3 - 1)   # subtraction(-)
print(2 * 3)   # multiplication(*)
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

In [11]:
7/2

3.5

In [12]:
7%2

1

In [13]:
31%5

1

In [14]:
3//2

1

In [15]:
5//2

2

In [16]:
11//2

5

In [ ]:
## Variables

Variables store data in a computer memory. Mnemonic variables are recommended to use in many programming languages. A mnemonic variable is a variable name that can be easily remembered and associated. A variable refers to a memory address in which data is stored.
Number at the beginning, special character, hyphen are not allowed when naming a variable. A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.

Python Variable Name Rules

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and \_ )
- Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)

In [ ]:
We will use standard Python variable naming style which has been adopted by many Python developers. Python developers use snake case(snake_case) variable naming convention. We use underscore character after each word for a variable containing more than one word(eg. first_name, last_name, engine_rotation_speed).  The example below is an example of standard naming of variables, underscore is required when the variable name is more than one word.

When we assign a certain data type to a variable, it is called variable declaration. For instance in the example below my first name is assigned to a variable first_name. The equal sign is an assignment operator. Assigning means storing data in the variable. The equal sign in Python is not equality as in Mathematics.

In [37]:

#_Example:_

# Variables in Python
first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'Finland'
city = 'Helsinki'
age = 250
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
   'firstname':'Asabeneh',
   'lastname':'Yetayeh',
   'country':'Finland',
   'city':'Helsinki'
   }

In [18]:
var = 344

In [19]:
1var = 344

SyntaxError: invalid decimal literal (1671115991.py, line 1)

In [20]:
var1 = 344

In [21]:
var 1 = 344

SyntaxError: invalid syntax (2296414443.py, line 1)

In [22]:
var_1 = 344

In [23]:
var%1 = 344

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (18457576.py, line 1)

In [24]:
1 = 344

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2150607174.py, line 1)

In [25]:
_1 = 344

In [26]:
_ = 344

In [27]:
_

344

In [28]:
_

344

In [33]:
var = "amit"

In [30]:
var = 6543

In [31]:
var

6543

In [34]:
type(var)

str

In [ ]:
Here are some example of valid variable names:

```shell
firstname
lastname
age
country
city
first_name
last_name
capital_city
_if # if we want to use reserved word as a variable
year_2021
year2021
current_year_2021
birth_year
num1
num2
```

Invalid variables names

```shell
first-name
first@name
first$name
num-1
1num

In [36]:
#Let us use the _print()_ and _len()_ built-in functions. Print function takes unlimited number of arguments. An argument is a value which we can be passed or put inside the function parenthesis, see the example below.

#**Example:**

print('Hello, World!') # The text Hello, World! is an argument
print('Hello',',', 'World','!') # it can take multiple arguments, four arguments have been passed
print(len('Hello, World!')) # it takes only one argument

Hello, World!
Hello , World !
13

In [ ]:
print
len
type
bool
list
tuple
dict
set
pow
del
input
range

In [38]:
#Let us print and also find the length of the variables declared at the top:

#**Example:**

# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Asabeneh
First name length: 8
Last name:  Yetayeh
Last name length:  7
Country:  Finland
City:  Helsinki
Age:  250
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

In [39]:
### Declaring Multiple Variable in a Line

#Multiple variables can also be declared in one line:

#**Example:**


first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Asabeneh Yetayeh Helsink 250 True
First name: Asabeneh
Last name:  Yetayeh
Country:  Helsink
Age:  250
Married:  True

In [40]:
#Getting user input using the _input()_ built-in function. Let us assign the data we get from a user into first_name and age variables.
#**Example:**

first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

What is your name: amit
How old are you? 30
amit
30

In [41]:
input()

3

'3'

In [42]:
input("number is :")

number is :4

'4'

In [43]:
## Data Types

#There are several data types in Python. To identify the data type we use the _type_ built-in function. I would like to ask you to focus on understanding different data types very well. When it comes to programming, it is all about data types. I introduced data types at the very beginning and it comes again, because every topic is related to data types. We will cover data types in more detail in their respective sections.

## Checking Data types and Casting

#Check Data types: To check the data type of certain data/variable we use the _type_
#**Example:**


# Different python data types
# Let's declare variables with various data types

first_name = 'Asabeneh'     # str
last_name = 'Yetayeh'       # str
country = 'Finland'         # str
city= 'Helsinki'            # str
age = 250                   # int, it is not my real age, don't worry about it

# Printing out types
print(type('Asabeneh'))     # str
print(type(first_name))     # str
print(type(10))             # int
print(type(3.14))           # float
print(type(1 + 1j))         # complex
print(type(True))           # bool
print(type([1, 2, 3, 4]))     # list
print(type({'name':'Asabeneh','age':250, 'is_married':250}))    # dict
print(type((1,2)))                                              # tuple
print(type(zip([1,2],[3,4])))                                   # set

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>

In [45]:
type({3,5.5, "py", True})

set

In [ ]:
#Casting: Converting one data type to another data type. We use _int()_, _float()_, _str()_, _list_, _set_
#When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. If we concatenate a number with a string, the number should be first converted to a string. We will talk about concatenation in String section.

#**Example:**


# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10.6'
print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

# str to list
first_name = 'Asabeneh'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

In [ ]:
## Numbers

#Number data types in Python:

1. Integers: Integer(negative, zero and positive) numbers
   #Example:
   ... -3, -2, -1, 0, 1, 2, 3 ...

2. Floating Point Numbers(Decimal numbers)
   #Example:
   ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...

3. Complex Numbers
   #Example:
   1 + j, 2 + 4j, 1 - 1j

In [46]:
num = 56

In [47]:
type(num)

int

In [49]:
type(float(num))

float

In [50]:
dec = 30.55

In [51]:
int(dec)

30

In [52]:
digit = 5678

In [53]:
str(digit)

'5678'

In [ ]:
"adfkhj", "3452345", "%$*^", "   ", "asf345&^  "

In [54]:
str1 = "python"

In [55]:
int(str1)

ValueError: invalid literal for int() with base 10: 'python'

In [56]:
str2 = "2716498"

In [57]:
type(str2)

str

In [58]:
int(str2)

2716498

In [ ]:
### Exercises: Level 1

1. Inside 30DaysOfPython create a folder called day_2. Inside this folder create a file named variables.py
2. Write a python comment saying 'Day 2: 30 Days of python programming'
3. Declare a first name variable and assign a value to it
4. Declare a last name variable and assign a value to it
5. Declare a full name variable and assign a value to it
6. Declare a country variable and assign a value to it
7. Declare a city variable and assign a value to it
8. Declare an age variable and assign a value to it
9. Declare a year variable and assign a value to it
10. Declare a variable is_married and assign a value to it
11. Declare a variable is_true and assign a value to it
12. Declare a variable is_light_on and assign a value to it
13. Declare multiple variable on one line

### Exercises: Level 2

1. Check the data type of all your variables using type() built-in function
1. Using the _len()_ built-in function, find the length of your first name
1. Compare the length of your first name and your last name
1. Declare 5 as num_one and 4 as num_two
    1. Add num_one and num_two and assign the value to a variable total
    2. Subtract num_two from num_one and assign the value to a variable diff
    3. Multiply num_two and num_one and assign the value to a variable product
    4. Divide num_one by num_two and assign the value to a variable division
    5. Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
    6. Calculate num_one to the power of num_two and assign the value to a variable exp
    7. Find floor division of num_one by num_two and assign the value to a variable floor_division
1. The radius of a circle is 30 meters.
    1. Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
    2. Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
    3. Take radius as user input and calculate the area.
1. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
1. Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords