In [3]:
# Write a python comment saying 'Day 2: 30 Days of python programming'

print("30 Days of python programming")

30 Days of python programming

In [6]:
# Declare a first name variable and assign a value to it

first_name = "Parag"  # Assigning the string "Parag" to the variable first_name
print(first_name)

Parag

In [9]:
# Declare a last name variable and assign a value to it

last_name = "Dorle"  # Assigning the string "Dorle" to the variable last_name
print(last_name)

Dorle

In [12]:
# Declare a full name variable and assign a value to it

first_name = "Parag"
last_name = "Dorle"

full_name = first_name + " " + last_name  # Concatenating first and last name with a space
print(full_name)

Parag Dorle

In [15]:
# Declare a country variable and assign a value to it

country = "India"  # Assigning the string "Canada" to the variable country
print(country)

India

In [19]:
# Declare a city variable and assign a value to it

city = "Mumbai"  # Assigning the string "Toronto" to the variable city
print(city)

Mumbai

In [22]:
# Declare an age variable and assign a value to it

age = 30  # Assigning the integer 30 to the variable age
print(age)

30

In [25]:
# Declare a year variable and assign a value to it

year = 2024  # Assigning the integer 2024 to the variable year
print(year)

2024

In [28]:
# Declare a variable is_married and assign a value to it

is_married = True  # Assigning True (boolean) to represent married
# OR
is_married = False  # Assigning False (boolean) to represent not married
print(is_married)

False

In [30]:
# Declare a variable is_true and assign a value to it

is_true = True  # Assigning True (boolean) to represent truth
# OR
is_true = False  # Assigning False (boolean) to represent non-truth

print(is_true)

False

In [33]:
# Declare a variable is_light_on and assign a value to it

is_light_on = True  # Assigning True to indicate the light is on
# OR
is_light_on = False  # Assigning False to indicate the light is off
print(is_light_on)

False

In [37]:
# Declare multiple variable on one line

first_name, last_name, age = "Parag", "Dorle", 25
print(first_name, last_name, age)

Parag Dorle 25

In [39]:
# Check the data type of all your variables using type() built-in function

first_name = "Alice"
last_name = "Smith"
age = 30
country = "Canada"
city = "Toronto"
is_married = True
is_true = False
is_light_on = True

# Print the data types of all variables
print(f"Data type of first_name: {type(first_name)}")
print(f"Data type of last_name: {type(last_name)}")
print(f"Data type of age: {type(age)}")
print(f"Data type of country: {type(country)}")
print(f"Data type of city: {type(city)}")
print(f"Data type of is_married: {type(is_married)}")
print(f"Data type of is_true: {type(is_true)}")
print(f"Data type of is_light_on: {type(is_light_on)}")

Data type of first_name: <class 'str'>
Data type of last_name: <class 'str'>
Data type of age: <class 'int'>
Data type of country: <class 'str'>
Data type of city: <class 'str'>
Data type of is_married: <class 'bool'>
Data type of is_true: <class 'bool'>
Data type of is_light_on: <class 'bool'>

In [40]:
# Using the _len()_ built-in function, find the length of your first name

first_name = "Alice"  # Assuming you have a variable named first_name

# Find the length of the first name using len()
first_name_length = len(first_name)

# Print the length of the first name
print(f"The length of the first name '{first_name}' is: {first_name_length}")

The length of the first name 'Alice' is: 5

In [43]:
# 1. Compare the length of your first name and your last name

first_name = "Parag"
last_name = "Dorle"

# Find the lengths of first and last names using len()
first_name_length = len(first_name)
last_name_length = len(last_name)

# Compare the lengths
if first_name_length > last_name_length:
    print(f"{first_name}' is longer than {last_name}.")
elif first_name_length < last_name_length:
    print(f"{last_name}' is longer than {first_name}.")
else:
    print(f"{first_name}' and {last_name}' have the same length.")

Parag' and Dorle' have the same length.

In [45]:
# Add num_one and num_two and assign the value to a variable total
#    1. Add num_one and num_two and assign the value to a variable total
#    2. Subtract num_two from num_one and assign the value to a variable diff
#    3. Multiply num_two and num_one and assign the value to a variable product
#    4. Divide num_one by num_two and assign the value to a variable division
#    5. Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
#    6. Calculate num_one to the power of num_two and assign the value to a variable exp
#    7. Find floor division of num_one by num_two and assign the value to a variable floor_division

num_one = 5
num_two = 4

# 1. Add num_one and num_two
total = num_one + num_two

# 2. Subtract num_two from num_one
diff = num_one - num_two

# 3. Multiply num_two and num_one
product = num_two * num_one

# 4. Divide num_one by num_two
division = num_one / num_two

# 5. Modulus division of num_two by num_one
remainder = num_two % num_one

# 6. num_one to the power of num_two
exp = num_one ** num_two

# 7. Floor division of num_one by num_two
floor_division = num_one // num_two

# Print the results
print(f"The sum of {num_one} and {num_two} is: {total}")
print(f"The difference between {num_one} and {num_two} is: {diff}")
print(f"The product of {num_two} and {num_one} is: {product}")
print(f"The division of {num_one} by {num_two} is: {division}")
print(f"The remainder of {num_two} divided by {num_one} is: {remainder}")
print(f"{num_one} to the power of {num_two} is: {exp}")
print(f"The floor division of {num_one} by {num_two} is: {floor_division}")

The sum of 5 and 4 is: 9
The difference between 5 and 4 is: 1
The product of 4 and 5 is: 20
The division of 5 by 4 is: 1.25
The remainder of 4 divided by 5 is: 4
5 to the power of 4 is: 625
The floor division of 5 by 4 is: 1

In [47]:
# Calculate the area of a circle and assign the value to a variable name of _area_of_circle_

pi = 3.14159  # Constant value for pi
radius = 30  # Meters

# Calculate the area of the circle (pi * radius^2)
area_of_circle = pi * radius**2

# Print the area with a descriptive message
print(f"The area of the circle with radius {radius} meters is: {area_of_circle:.2f} square meters.")

The area of the circle with radius 30 meters is: 2827.43 square meters.

In [49]:
# Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_

pi = 3.14159  # Constant value for pi
radius = 30  # Meters

# Calculate the circumference of the circle (2 * pi * radius)
circum_of_circle = 2 * pi * radius
print(circum_of_circle)

188.4954

In [52]:
# Take radius as user input and calculate the area.
pi = 3.14159  # Constant value for pi

# Get radius input from the user
radius = float(input("Enter the radius of the circle (meters): "))

# Calculate the area of the circle (pi * radius^2)
area_of_circle = pi * radius**2

# Print the area with a descriptive message
print(f"The area of the circle with radius {radius} meters is: {area_of_circle:.2f} square meters.")

Enter the radius of the circle (meters):  5

The area of the circle with radius 5.0 meters is: 78.54 square meters.

In [56]:
# Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

# Get user input for first name
first_name = input("Enter your first name: ")

# Get user input for last name
last_name = input("Enter your last name: ")

# Get user input for country
country = input("Enter your country: ")

# Get user input for age (convert to integer for age)
age = int(input("Enter your age: "))
   
# Print the information (optional)
print(f"Hello, {first_name} {last_name} from {country}. You are {age} years old.")

Enter your first name:  Parag
Enter your last name:  Dorle
Enter your country:  India
Enter your age:  25

Hello, Parag Dorle from India. You are 25 years old.