In [1]:
import pandas as pd

In [5]:
import pandas as pd

mydataset = {
    "cars": ["Audi", "BMW", "Ford", "Volvo", "Tata"],
    "passings": [3,7,2,5,1]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0   Audi         3
1    BMW         7
2   Ford         2
3  Volvo         5
4   Tata         1

In [6]:
import pandas as pd

print(pd.__version__)

2.1.4

In [8]:
import pandas as pd

a = [1,7,2,4,56,2,1,4,78,9,3,5,6,2,1,4,7,8,56,1]
myvar = pd.Series(a)
print(myvar)

0      1
1      7
2      2
3      4
4     56
5      2
6      1
7      4
8     78
9      9
10     3
11     5
12     6
13     2
14     1
15     4
16     7
17     8
18    56
19     1
dtype: int64

In [11]:
print(myvar[11])

5

In [12]:
import pandas as pd

a = [1,7,6]

myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    6
dtype: int64

In [13]:
print(myvar["y"])

7

In [15]:
import pandas as pd

calories = {"day1":420, "day2":380, "day3":390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [16]:
import pandas as pd

calories = {"day1":420, "day2": 380, "day3":390}

myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

In [19]:
import pandas as pd

data = {
    "calories": [420,380,390,110],
    "duration": [50,40,45,15]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45
3       110        15